<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Wuolahpop - Administración</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
	<div class="subContainer">
	
		<h1>USUARIOS</h1>
		<p>
			<a class="enlace" href="pagina-todos-usuarios">Mostrar</a>
		</p>
		<p>
			<a class="enlace" href="pagina-crear-usuario">Nuevo</a>
		</p>
		<p>
			<a class="enlace" href="pagina-borrar-usuario">Eliminar</a>
		</p>
		<p>
			<a class="enlace" href="pagina-update-usuario">Modificar</a>
		</p>
	</div>
	
	<div class="subContainer">
	
		<h1>CATÁLOGO</h1>
		<p>
			<a class="enlace" href="pagina-todos-items">Mostrar</a>
		</p>
		<p>
			<a class="enlace" href="pagina-crear-item">Nuevo</a>
		</p>
		<p>
			<a class="enlace" href="pagina-borrar-item">Eliminar</a>
		</p>
		<p>
			<a class="enlace" href="pagina-update-item">Modificar</a>
		</p>
	</div>
	<div class="subContainer">
		<h1>TRANSACCIONES</h1>
		<p>
			<a class="enlace" href="pagina-todas-transacciones">Mostrar</a>
		</p>
	</div>
	
</div>
	
	
</body>
</html>	