body{
	background-color: white;
	font-family: Arial;
}

.container{
	display:flex;
	justify-content: space-between;
}

.subContainer{
	padding: 5%;
}

.enlace{
	text-decoration: none;
	color: #369681;
}

.enlace:hover{
	text-decoration: underline;
}

.enlace:visited {
  color: #369681;
}